@import "tailwindcss";

.logo-glitter {
  background: linear-gradient(
    120deg,
    #950707 0%,
    hsla(26, 95%, 49%, 0.758) 25%,
    #d4b228 50%,
    #9c4c1a 75%,
    #5c0600 100%
  );

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
